@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-accent: #ca0818;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body{
  font-family: 'Roboto', sans-serif;
}


/*     Navbar   */
nav{
  z-index: 2;
}
.logo{
  width: 4rem;
  height: 4rem;
  border-radius:3rem;
  object-fit: cover;
}
 
/*     Navbar links   */

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}


nav ul li{
  text-transform: uppercase;
}


.navbar-nav > li > a {
  color:var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark) ;
}


.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-accent);
}


.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-accent);
}


/*     Header   */

.header-wrapper{
  position:relative;
  background: url(me.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display:flex;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: #e1a81e;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 3px 1px 0px var(--primary-hover-red);
}


/*     Typer   */

.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
  text-shadow: 2px 2px 0px #000000;
}



/*     header main offer button  */

.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius:0;
  padding: 0.625rem .75rem .75rem .75rem;
  color: var(--primary-white);
  margin-top: 2rem;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  transition: .2s ease-in-out
}


/*     paricles */

.tsparticles-canvas-el{
  position: absolute;
  height:100vh;
  width: 100vw;
  z-index: 1 ;
}

/*     about section */
.photo-wrap{
  display:flex;
  justify-content:center;
  align-items: center;
}


.profile-img{
  width: 27.5rem;
 
  padding: .3rem;
  border: 1px solid black;
  object-fit: cover;
}



.about-heading{
  color: ;
  text-transform: uppercase;
}

/*     experience  */

.experience{
  padding: 0.7rem;
}

.experience-wrapper{
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1{
  text-transform: uppercase;

}

.experience-wrapper::before{
  position: absolute;
  content: "";
  top:0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100% ;
  background: var(--primary-grey);
  z-index: 1 ;

}

.timeline-block {
  width: calc(50% + .5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right{
  float: right;
}

.timeline-block-left{
  float: left;
  direction: rtl;
}

.marker{
  width:1rem;
  height:1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-accent);
  margin-top: .625rem;
  z-index: 3;
}

.timeline-content{
  width: 95%;
  padding: 0 0.9375rem ;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3{
  margin-top: 0.3125rem;
  font-weight: 900;
}

/*     media  */


.main-info{
  width: 100%;
}

@media(max-width: 768px){
  .experience .container{

  }


  .experience-wrapper::before{
    left: .5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right{
    float:none;
    width: 100%;
  }
  .timeline-block-left{
    float:none;
    direction: ltr;
    width: 100%;

  }
}